#projects-carousel
  .item.ferrarifitness title="FerrariFitness"
    a href="projects/ferrarifitness"

  .item.skinz title="Skinz"
    a href="projects/skinz"

#content
  #service
    .column-main
      | Разработка мобильных приложений для iOS, Android и Windows Phone

      #service-icons.justify-wrapper
        .icon.icon-business
        = "\n"
        .icon.icon-mobile-shop
        = "\n"
        .icon.icon-games
        = "\n"
        .icon.icon-promo
        = "\n"

  #feedback
    .column-main
      form action="/request_callback" method="post"
        label for="feedback-text"
          | У вас есть идея приложения?

        .clearfix.inputs-wrapper
          input {
            type="text"
            id="feedback-text"
            placeholder="оставьте свой e-mail или телефон"
            name="client-contact"
            required
          }
          input type="submit" value="Отправить"

        input name="authenticity_token" value=form_authenticity_token type="hidden"

  #partners-reviews
    .column-main
      .reviews-container.clearfix
        .review
          .review-author
            .name Рустем Насыров
            .description Директор по разработке программного обеспечения, ЗАО&nbsp;«Транзас&nbsp;Авиация»

          .review-body
            | Ребята делают качественный продукт, они находят крупных заказчиков, что позволяет им
            | осуществлять свои собственные проекты и находить новых клиентов. Мы начали сотрудничество с
            | компанией Studio Mobile, когда у нас появился проект с фиксированным объемом работ. Мы отдали
            | его ребятам на разработку, чтобы используя их игровой опыт получить качественный продукт.
            | Уверен, что в ближайшее время эта компания вырастет до 100 человек и, имея в своем портфеле
            | большие долгосрочные заказы, станет еще одним ключевым игроком рынка.

        .review
          .review-author
            .name Yossi Malki
            .description CEO, Sparkin' Apps

          .review-body
            | We have been working with Studio Mobile since 2009 on various and complicated projects for iOS
            | and Android Platforms. They did amazing work for us. The team is very professional and efficient
            | with high involvement and commitment. Excellent service! The cooperation with Studio Mobile is
            | more than work. We also became good friends and I enjoyed every minute working with them.<br>
            | Highly recommended!

  #partners
    .column-main.justify-wrapper
      .icon.mascotte
      = "\n"
      .icon.mailru
      = "\n"
      .icon.nitro
      = "\n"
      .icon.transas
      = "\n"
      .icon.gulfstream
      = "\n"
      .icon.kelloggs
      = "\n"
      .icon.ifree
      = "\n"
      .icon.sparkin-apps
      = "\n"

javascript:
  $(document).ready(function () {
    $("#projects-carousel").owlCarousel({
      navigation: true,
      slideSpeed: 300,
      paginationSpeed: 400,
      singleItem: true,
      autoPlay: false,
      navigationText: false,
      transitionStyle : "fade"
    });
  });
