#content class="contacts"
  #contacts-details
    .column-main.clearfix
      .address
        = I18n.t 'contacts.address-line-1'
        br
        = I18n.t 'contacts.address-line-2'
        br
        = I18n.t 'contacts.address-line-3'
        br
        = I18n.t 'contacts.address-line-4'
        br

      .contacts-details>
        .phones>
          = I18n.t 'contacts.phone-label'
          span.phone +7 (812) 332-94-89
          br
          span.phone +7 (812) 332-94-88

        .emails
          = I18n.t 'contacts.email-contact'
          a href="mailto:info@studiomobile.ru" info@studiomobile.ru
          br
          = I18n.t 'contacts.email-job'
          a href="mailto:job@studiomobile.ru" job@studiomobile.ru

  #map

  #feedback
    .column-main.clearfix
      form action="contacts/feedback" method="post"
        label for="email" = I18n.t 'contacts.feedback-contact-us'
        br
        input#email name="email" type="email" placeholder=I18n.t('contacts.feedback-email-placeholder') required=""
        br
        textarea name="feedback" required=""
        br
        input type="submit" value=I18n.t('contacts.feedback-send')

        input name="authenticity_token" value=form_authenticity_token type="hidden"

= javascript_include_tag 'map'
= javascript_include_tag yandex_maps_api_url
