- if projects_list_item_counter % 3 == 0
  <tr>

td
  a href=project_description_route(projects_list_item)
    .wrap
      img (
        src=project_thumb(projects_list_item)
        alt=projects_list_item.localized_title
        title=projects_list_item.localized_title
        width="360"
        height="240"
      )

      .description
        = projects_list_item.localized_short_desc.html_safe

  - if projects_list_item.alias == 'mobilizator'
    img.overlay src=project_thumb_overlay(projects_list_item) width="360" height="240"

- if (projects_list_item_counter + 1) % 3 == 0
  </tr>