javascript:
  $('body').addClass('project-description').addClass('view-project-description');

#projects-carousel.owl-theme.header-image
  img.item {
    src=project_header(@item)
    alt=@item.title
    title=@item.title
    width="1920"
    height="634"
  }

  .owl-controls
    .owl-buttons
      - if @item_previous
        .owl-prev
          a {
            href=project_description_route(@item_previous)
            rel="nofollow"
            title=@item_previous.title
          }

      - if @item_next
        .owl-next
          a {
            href=project_description_route(@item_next)
            rel="nofollow"
            title=@item_next.title
          }

#content
  #description
    .column-main
      - if @item.description_intro
        .intro
          = @item.description_intro.html_safe

      = @item.description_body.html_safe

.pagination.column-main
  ul.pagination-list.clearfix
    - if @item_previous
      li.prev
        a {
          title=@item_previous.title
          href=project_description_route(@item_previous)
          class="pagenav"
          rel="nofollow"
        }
          = @item_previous.title

    - if @item_next
      li.next
        a {
          title=@item_next.title
          href=project_description_route(@item_next)
          class="pagenav"
          rel="nofollow"
        }
          = @item_next.title
