#content
  #about-reasons
    .column-main
      table
        tr
          - (1..3).each do |i|
            td
              img src=asset_url("about/#{i}.jpg") width="360" height="240"
              h1 = I18n.t "about.column-#{i}-title"
              p = I18n.t("about.column-#{i}-content").html_safe

  - if I18n.locale == :ru
      #smi
        h2 СМИ о нас

        .wrap
          .column-main
            .items
              a href="http://www.dp.ru/a/2011/10/14/Na_mobilnih_prilozhenijah/" class="item" target="_blank"
                .name
                  h3 Газета «Деловой&nbsp;Петербург»
                h4 На мобильных приложениях можно хорошо заработать

              a href="http://delovoe.tv/event/delovie_lyudi_1/" class="item" target="_blank"
                .name
                  h3 Delovoe.tv
                h4 Studio Mobile в программе «Деловые люди»

              a href="http://www.e-xecutive.ru/community/articles/1881734/" class="item" target="_blank"
                .name
                  h3 E-xecutive
                h4 Российский рынок мобильной разработки: реальность и прогнозы

              a href="http://www.baltpp.ru/a/2013/11/26/Vseobshhaja_mobilizacija/" class="item" target="_blank"
                .name
                  h3 Портал БалТпп
                h4 Что думает Studio Mobile о всеобщей мобилизации?

              a href="http://www.shopolog.ru/metodichka/development/web-ili-nativnoe-prilozhenie-dlya-internet-magazina" class="item" target="_blank"
                .name
                  h3 Shopolog
                h4 Web- или нативное приложение для интернет-магазинов

              a href="http://www.likeni.ru/analytics/Mobilnye-prilozheniya-perevernut-rynok-riteyla/" class="item" target="_blank"
                .name
                  h3 Лайкни.ру
                h4 Мобильные приложения перевернут рынок ритейла

              a href="http://profi.piterstory.com/articles/razrabotchik-mobilnyh-prilozhenij-it-spetsialist-shirokogo-profilya" class="item" target="_blank"
                .name
                  h3 PROFISPACE
                h4 Разработчик мобильного приложения — кто он?

      javascript:
        $(document).ready(function () {
          $("#smi .items").owlCarousel({
            items: 4,
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            navigationText: false,
            pagination: false
          });
        });

  #confs
    .logos
      .column-main.justify-wrapper
        a href="http://conf.oborot.ru/" target="_blank"
          .icon.et title="Электронная торговля 2013"
        = "\n"
        a href="http://iplaceconf.ru/" target="_blank"
          .icon.iplace title="iPLACE"
        = "\n"
        a href="http://mdday.ru/" target="_blank"
          .icon.mdday title="MDDay"
        = "\n"
        a href="http://www.wnconf.com/" target="_blank"
          .icon.winter-nights title="Winter Nights"
        = "\n"
        a href="http://kriconf.ru/2013/" target="_blank"
          .icon.kri title="КРИ"
        = "\n"
        a href="http://www.somogam.ru/ru" target="_blank"
          .icon.smgc title="SMGC"
        = "\n"
        a href="http://www.mate-expo.ru/ru" target="_blank"
          .icon.mate title="MATE"
        = "\n"