#content
  .column-main
    .blog
      = render :partial => 'about/blog/blog_entry', :collection => @articles
      .pagination
        .pagination-list.clearfix
          - if @next_offset
            li.next
              a title="Старее" href="?start=#{@next_offset}" Старее

          - if @prev_offset
            li.prev
              a title="Новее" href="?start=#{@prev_offset}" Новее
