#content.blog>
  .column-main.clearfix.item-page itemscope="" itemtype="http://schema.org/Article"
    meta itemprop="inLanguage" content="ru-RU"

    .page-header
      h2 itemprop="name" = @article.title

    .article-info.muted>
      dl.article-info
        dd.published
          time datetime="#{article_created_at_iso8601(@article)}" = article_created_at_blog_entry(@article)

    .fulltext itemprop="articleBody" = @article.text.html_safe

  .pagination.column-main
    ul.pagination-list.clearfix
      - if @article_previous
        li.next
          a.pagenav {
            title=@article_previous.title
            href=article_route(@article_previous)
            rel="nofollow"
          }
            = "#{@article_previous.title} (старее)"

      - if @article_next
          li.prev
            a.pagenav {
              title=@article_next.title
              href=article_route(@article_next)
              rel="nofollow"
            }
              = "#{@article_next.title} (новее)"

  .column-main
    .comments
      #disqus_thread
      noscript
        | Please enable JavaScript to view the
        a href="http://disqus.com/?ref_noscript">comments powered by Disqus
        | .

javascript:
  var disqus_shortname = 'studiomobile';
  var disqus_url = "#{article_route(@article)}";

  (function () {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
