div#content.content-new.school
  div.column-main
    h1 Школа Android- и iOS-разработчиков

    div.intro
      p Открыт набор в шестую школу мобильных разработчиков Studio Mobile. Занятия начнутся в конце апреля.

      p
        | Школа абсолютно бесплатная, от вас требуются только знание основ программирования и огонь в глазах. Мы, в
        |  свою очередь, предлагаем два месяца интенсивных занятий и возможность последующего трудоустройства
        |  в нашу компанию.


      p
        | Для того, чтобы стать участником школы мобильных разработчиков, необходимо пройти

        span< style="white-space: nowrap" три этапа отбора:

    div.step
      .step-icon.step-1
        div.step-connector

      div.step-description
        h2 Анкетирование
        p
          | Вам предстоит ответить на несколько вопросов личного и профессионального характера.
          |  Заполнить анкету можно
          a< href="http://goo.gl/forms/HUwPXp0UuI" target="_blank" здесь
          |  до 26 марта включительно.

    div.step
      .step-icon.step-2
        div.step-connector-prev
        div.step-connector

      div.step-description
        h2 Тестовое задание
        p На этом этапе вы сможете проявить свои знания и логику, решив несколько тестовых задач.

    div.step>
      .step-icon.step-3
        div.step-connector-prev
        div.step-connector

      div.step-description
        h2 Собеседование
        p Мы пригласим вас в офис, чтобы пообщаться и наверняка выяснить, подходим ли мы друг другу.

    div.step
      div.step-icon.step-final
        div.step-connector-prev

      div.step-description>
        h2 Справились? Поздравляем, вы стали учеником школы мобильных разработчиков!
        p
          | В течение двух ближайших месяцев вы будете узнавать о разработке мобильных приложений
          |  от наших лучших специалистов!

  div.school-feedback
    div.column-main
      h2 Отзывы наших учеников

      div.school-feedback-list
        div.school-feedback-item
          div.student-photo
            img {
              alt="Екатерина"
              src=asset_url('school/katya-2012.jpg')
              srcset="#{asset_url 'school/katya-2012.jpg'} 1x,#{asset_url 'school/katya-2012@2x.jpg'} 2x,#{asset_url 'school/katya-2012@3x.jpg'} 3x"
            }

          div.student-feedback
            h3 Екатерина, выпуск 2012 года
            div.student-feedback-bubble
              p
                | Огромный плюс этой школы в том, что она действительно дала все, что было обещано в
                |  начале. И опыт практической разработки, и дальнейшее трудоустройство в компании. Самое
                |  приятное - это программа. Мы не учили синтаксис нового языка целыми днями - это можно
                |  вполне осилить самому за пару дней дома с интернетом или книгами. Как выражался наш
                |  преподаватель Сергей, нас учили думать. Для меня iOS-школа стала отличной возможностью
                |  начать карьеру разработчика, потому что навыки, приобретенные за довольно короткое время
                |  действительно позволили мне начать полноценно работать в этой области.

        div.school-feedback-item
          div.student-photo
            img {
              alt="Илья"
              src=asset_url('school/ilya-2012.jpg')
              srcset="#{asset_url 'school/ilya-2012.jpg'} 1x,#{asset_url 'school/ilya-2012@2x.jpg'} 2x,#{asset_url 'school/ilya-2012@3x.jpg'} 3x"
            }

          div.student-feedback
            h3 Илья, выпуск 2012 года
            div.student-feedback-bubble
              p
                | На занятиях школы я узнал, что такое разработка под iOS. В универе нам давали знания по
                |  конкретным областям, мы писали код, но нам не рассказывали, как делать это хорошо, а
                |  здесь меня научили делать это правильно. Самостоятельно я бы вряд ли осилил iOS хотя бы
                |  из-за дорогого железа, поэтому я очень рад, что попал в школу и смог ее закончить.

        div.school-feedback-item
          div.student-photo
            img {
              alt="Александр"
              src=asset_url('school/alexander-2015.jpg')
              srcset="#{asset_url 'school/alexander-2015.jpg'} 1x,#{asset_url 'school/alexander-2015@2x.jpg'} 2x,#{asset_url 'school/alexander-2015@3x.jpg'} 3x"
            }

          div.student-feedback
            h3 Александр, выпуск 2015 года
            div.student-feedback-bubble
              p
                | Случайно нашел объявление о школе, захотел попробовать свои силы и подал заявку. После
                |  того, как я заполнил анкету, мне прислали три задачи, которые я решил. Далее было очное
                |  собеседование, по итогам которого меня и пригласили в школу.

              p
                | На занятиях получил огромный объём знаний как по разработке для Android, так и для
                |  разработки ПО в целом.

        div.school-feedback-item
          div.student-photo
            img {
              alt="Арман"
              src=asset_url('school/arman-2015.jpg')
              srcset="#{asset_url 'school/arman-2015.jpg'} 1x,#{asset_url 'school/arman-2015@2x.jpg'} 2x,#{asset_url 'school/arman-2015@3x.jpg'} 3x"
            }

          div.student-feedback
            h3 Арман, выпуск 2015 года
            div.student-feedback-bubble
              p
                | Я шел в школу, чтобы углубить свои знания в разработке под Android, но мне предложили попробовать себя
                |  в качестве iOS-разработчика. Абсолютно ничего не зная об iOS-разработке, я согласился. Ни разу не
                |  пожалел об этом! У меня был замечательный наставник, которому я очень благодарен, а после завершения
                |  школы мне предложили работу.
