/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fonts
 *= require_self
 *= require_tree .
 */

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 1160px;
}

body {
    color: #545d72;
    font-family: Calibri, sans-serif;
    font-variant: small-caps;
}

#projects-carousel, .column-main {
    min-width: 1120px;
}

.column-main {
    width: 1120px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

input, textarea {
    border: none;
    color: inherit;
    outline: none;
}

input:focus, textarea:focus {
    outline: none;
    border: none;
}

.clearfix:after,
.blog .item .fulltext ul.gallery:after {
    content: "";
    display: block;
    clear: both;
}

/* Justified icons */

.justify-wrapper {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.justify-wrapper .icon {
    vertical-align: top;
    display: inline-block;
}

.justify-wrapper:after {
    content: " ";
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

/* Header */

header {
    height: 109px;
    padding-top: 8px;
    background-color: #e3e3e3;
    z-index: 100;
    position: relative;
}

header .mod-languages {
    position: absolute;
    right: 0;
}

header nav {
    position: absolute;
    right: 0;
    bottom: 0;
}

header nav .hor-menu li + li {
    margin-left: 23px;
}

#company-logo {
    display: block;
    float: left;
    width: 296px;
    height: 39px;
    background-image: asset-url('logo-studiomobile-black.png');
    margin-top: 31px;
}

header #site-search {
    float: right;
    font-size: 16px;
    font-weight: 200;
    font-family: Calibri, sans-serif;
}

#site-search label {
    text-transform: uppercase;
    padding-right: 3px;
}

#site-search-text {
    background-color: #f9f9f9;
    padding-left: 5px;
    padding-right: 5px;
    font-family: inherit;
    font-size: inherit;
}

#site-search input {
    height: 21px;
}

#site-search input[type="submit"] {
    width: 23px;
    background: asset-url('icon-search.png');
}

header .hor-menu li {
    font-size: 15px;
}

/* Main page customization */

#secondary-nav {
    z-index: 50;
}

#secondary-nav nav {
    position: absolute;
    left: 0;
    top: 0;
}

#secondary-nav nav .hor-menu {
    letter-spacing: 0.1em;
}

#secondary-nav nav .hor-menu li {
    font-size: 15px;
    line-height: 26px;
    font-family: TeX Gyre Adventor, Calibri, sans-serif;
}

#secondary-nav nav .hor-menu li + li {
    margin-left: 23px;
}

#secondary-nav nav .hor-menu li.active {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #62B3A2;
    border-top: 3px solid #62B3A2;
}

#secondary-nav nav .hor-menu li.active a:hover {
    text-decoration: none;
}

/* Footer */

footer {
    height: 100px;
    background-color: #242527;
    padding-top: 25px;
    padding-bottom: 26px;
    color: #a0a5ab;
    font-variant: normal;
}

header .hor-menu, header .mod-languages {
    letter-spacing: 0.1em;
}

.mod-languages ul {
  list-style: none;
}

header div.mod-languages ul.lang-inline li.lang-active {
    display: none;
}

header .hor-menu li, header .mod-languages li {
    line-height: 28px;
    font-family: TeX Gyre Adventor, Calibri, sans-serif;
}

header .hor-menu li.active {
    line-height: 24px;
    font-family: TeX Gyre Adventor, Calibri, sans-serif;
    font-weight: bold;
}

.hor-menu {
    list-style-type: none;
}

.hor-menu li {
    float: left;
}

.mod-languages ul.lang-inline li {
    margin-right: 0;
}

.mod-languages li a, .hor-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.hor-menu li.active {
    font-size: 19px !important;
    font-family: Calibri, sans-serif;
}

.mod-languages li a:hover, .hor-menu li a:hover {
    text-decoration: underline;
}

footer {
    font-family: Calibri, sans-serif;
    font-weight: 200;
    letter-spacing: 0.01em;
}

footer ul.social li a {
    font-size: 14px;
    font-weight: 200;
    font-family: Calibri, sans-serif;
    letter-spacing: 0.1em;
}

footer ul.social {
    float: right;
}

footer ul.social li + li {
    margin-left: 30px;
}

footer ul.social li a {
    color: #f5f4f1;
}

footer .contacts {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

footer .contacts a {
    color: inherit;
    text-decoration: none;
}

footer .contacts a:hover {
    text-decoration: underline;
}

/* Sticky footer */

html, body {
    margin:0;
    padding:0;
    height: 100%;
}

#layout-wrapper {
    position: relative;
    min-height:100%;
}

#content-wrapper {
    padding-bottom: 151px;  /* footer height + paddings */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* feedback */

#feedback input[type="submit"] {
    width: 175px;
    font-size: 17px;
    color: white;
    background-color: #73BDAE;
    box-shadow: rgba(0, 0, 0, 0.40) 3px 4px;
    text-shadow: rgba(0, 0, 0, 0.35) 1px 2px;
    text-transform: uppercase;

    font-weight: bold;
    font-family: Caviar Dreams, Calibri, sans-serif;
    font-variant: small-caps;
    height: 30px;

    letter-spacing: 0.07em;
    padding-left: 5px;
    padding-top: 1px;
}

#feedback input[type="submit"]:active {
    background-color: #72a2a3;
    box-shadow: none;
}

/* Partners */

#partners {
    height: 80px;
}

#confs .logos {
    height: 100px;
}

#partners, #confs .logos {
    background-color: #f6f6f6;
}

#partners .icon, #confs .icon {
    height: 100%;
    width: 50px;
}

#partners .icon:before, #confs .icon:before {
    width: 100%;
    height: 100%;

    background: no-repeat center center;
    display: block;
    content: "";
}

#partners .mascotte {
    width: 129px;
}

#partners .mascotte:before {
    background-image: asset-url('partner-logo-mascotte.png');
}

#partners .mailru {
    width: 123px;
}

#partners .mailru:before {
    background-image: asset-url('partner-logo-mailru.png');
}

#partners .nitro {
    width: 67px;
}

#partners .nitro:before {
    background-image: asset-url('partner-logo-nitro.png');
}

#partners .transas {
    width: 96px;
}

#partners .transas:before {
    background-image: asset-url('partner-logo-transas.png');
}

#partners .gulfstream {
    width: 150px;
}

#partners .gulfstream:before {
    background-image: asset-url('partner-logo-gulfstream.png');
}

#partners .kelloggs {
    width: 105px;
}

#partners .kelloggs:before {
    background-image: asset-url('partner-logo-kelloggs.png');
}

#partners .ifree {
    width: 57px;
}

#partners .ifree:before {
    background-image: asset-url('partner-logo-ifree.png');
}

#partners .sparkin-apps {
    width: 149px;
}

#partners .sparkin-apps:before {
    background-image: asset-url('partner-logo-sparkin-apps.png');
}

#confs .et {
    width: 164px;
}

#confs .et:before {
    background-image: asset-url('about/confs/et-bw.png');
}

#confs .iplace {
    width: 137px;
}

#confs .iplace:before {
    background-image: asset-url('about/confs/iplace-bw.png');
}

#confs .mdday {
    width: 140px;
}

#confs .mdday:before {
    background-image: asset-url('about/confs/mdday-bw.png');
}

#confs .winter-nights {
    width: 159px;
}

#confs .winter-nights:before {
    background-image: asset-url('about/confs/wn-bw.png');
}

#confs .kri {
    width: 101px;
}

#confs .kri:before {
    background-image: asset-url('about/confs/kri-bw.png');
}

#confs .smgc {
    width: 203px;
}

#confs .smgc:before {
    background-image: asset-url('about/confs/smgc-bw.png');
}

#confs .mate {
    width: 163px;
}

#confs .mate:before {
    background-image: asset-url('about/confs/mate-bw.png');
}

/* Services */

#service {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 46px;
    font-family: Caviar Dreams, Calibri, sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
}

#service-icons {
    height: 181px;
    padding-top: 80px;
}

#service-icons .icon {
    height: 181px;
    width: 150px;

    position: relative;
}

#service-icons .icon:before {
    width: 100%;
    height: 100%;

    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

    background: no-repeat center 0;
    display: block;
    content: "";
}

#service-icons .icon-business:before {
    width: 183px;
    background-image: asset-url('service-business.png');
}

#service-icons .icon-mobile-shop:before {
    width: 185px;
    background-image: asset-url('service-mobile-shop.png');
}

#service-icons .icon-games:before {
    background-image: asset-url('service-games.png');
}

#service-icons .icon-promo:before {
    background-image: asset-url('service-promo.png');
}

/* Partners reviews */

#partners-reviews .reviews-container {
    width: 100%;

    padding-top: 58px;
    padding-bottom: 45px;
}

#partners-reviews .review {
    width: 490px;
}

#partners-reviews .review:first-child {
    float: left;
}

#partners-reviews .review:last-child {
    float: right;
}

#partners-reviews .review .review-author {
    height: 70px;
    font-family: Arial, sans-serif;
}

#partners-reviews .review .review-author .name {
    font-weight: bold;
    color: #545d72;
    padding-bottom: 1px;
}

#partners-reviews .review .review-author .description {
    color: #cd9861;

    font-size: 14px;
    letter-spacing: 0.025em;
}

#partners-reviews .review .review-body {
    color: #545d72;

    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.025em;

    font-family: "Helvetica", sans-serif;
}

/* Projects carousel */

#projects-carousel .item {
    height: 634px;
    width: 100%;
    background-position: center 0;
}

#projects-carousel .ferrarifitness {
  background-image: asset-url('projects-main/ferrarifitness.jpg');
}

#projects-carousel .skinz {
  background-image: asset-url('projects-main/skinz.jpg');
}

#projects-carousel {
    width: 100%;
    position: relative;
}

#projects-carousel.header-image .owl-buttons a {
    display: block;
    width: 100%;
    height: 100%;
}

#projects-carousel .owl-controls {
    margin: 0;
}

#projects-carousel .owl-controls .owl-pagination {
    position: absolute;
    bottom: 3px;
    width: 100%;
}

#projects-carousel .owl-controls .owl-page span {
    width: 9px;
    height: 9px;
    background-color: white;
    opacity: 1;
    box-shadow: 2px 3px 0 rgba(0, 0, 0, .5);
}

#projects-carousel .owl-controls .owl-page.active span {
    background-color: #90c1ad;
}

#projects-carousel .owl-controls .owl-buttons div {
    width: 62px;
    height: 63px;
    padding: 0;
    background-color: transparent;
    box-shadow: 2px 3px 0 rgba(0, 0, 0, .5);

    top: 284px;
    margin: 0;
    position: absolute;
}

#projects-carousel .owl-controls .owl-buttons {
}

#projects-carousel .owl-controls .owl-buttons .owl-prev {
    background-image: asset-url('carousel-project-prev.png');
    left: 51px;
}

#projects-carousel .owl-controls .owl-buttons .owl-next {
    background-image: asset-url('carousel-project-next.png');
    right: 51px;
}

#projects-carousel.header-image .owl-buttons div {
    top: 50%;
    margin-top: -30px;
    box-shadow: none;
    width: 60px;
    height: 60px;
}

#projects-carousel.header-image .owl-buttons div:hover {
    opacity: 1;
}

#projects-carousel.header-image .owl-controls .owl-buttons .owl-prev {
    background-image: asset-url('project-prev.png');
    left: 51px;
}

#projects-carousel.header-image .owl-controls .owl-buttons .owl-next {
    background-image: asset-url('project-next.png');
    right: 51px;
}

#projects-carousel .item a {
    display: block;
    width: 100%;
    height: 100%;
}

/* Contacts */

#contacts-details {
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: relative;
}

#contacts-details .address {
    float: left;
    font-size: 26px;
    letter-spacing: 0.05em;
    line-height: 43px;
}

#contacts-details .contacts-details {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: right;
    width: 600px;
    font-size: 18px;
}

#contacts-details .contacts-details a,
#contacts-details .contacts-details .phone {
    color: #73BDAE;
    text-decoration: none;
    font-variant: small-caps;
    letter-spacing: 0.1em;
}

#contacts-details .contacts-details a {
    font-size: 24px;
    letter-spacing: 0.07em;
}

#contacts-details .contacts-details a:first-child {
    padding-left: 10px;
}

#contacts-details .contacts-details a:last-child {
    padding-left: 18px;
}

#contacts-details .contacts-details .phone {
    font-size: 22px;
    padding-left: 20px;
}

#contacts-details .contacts-details a:hover {
    text-decoration: underline;
}

#contacts-details .contacts-details .phones,
#contacts-details .contacts-details .emails {
    position: absolute;
    right: 0;
    word-wrap: normal;
}

#contacts-details .contacts-details .phones {
    top: 3px;
}

#contacts-details .contacts-details .emails {
    bottom: 4px;
}

#map {
    height: 600px;
}

#content.contacts {
    font-variant: normal;
}

#content.contacts {
    font-family: TeX Gyre Adventor, Calibri, sans-serif;
}

#content.contacts #feedback {
    margin-top: 34px;
    margin-bottom: 88px;
}

#feedback input {
    font-family: inherit;
    vertical-align: top;
    font-size: 16px;
}

#feedback input[type="text"], #feedback input[type="email"] {
    background-color: #f2dfb1;
}

#content {
    overflow: hidden;
}

#content.contacts #feedback textarea {
    background-color: #efefef;
    border: none;
    height: 200px;
    width: 100%;
    resize: none;
    font-family: inherit;
    margin-top: 16px;
    padding-left: 3px;
}

#content.contacts #feedback input[type="email"] {
    padding-left: 5px;
    padding-right: 5px;
    width: 335px;
    margin-top: 25px;
}

#content.contacts input[type="submit"] {
    float: right;
    margin-top: 14px;
    margin-right: 3px;
}

#content.contacts #feedback label {
    font-size: 22px;
    letter-spacing: 0.05em;
}

/* Projects */

.project-description #content {
    /*padding-bottom: 8px;*/
}

.project-description #content hr {
    border: none;
    height: 5px;
    background-color: #90c1ad;

    margin-top: 57px;
    margin-bottom: 61px;
}

.project-description #content .intro {
    font-family: TeX Gyre Adventor, Calibri, sans-serif;
    font-size: 24px;
    line-height: 32px;
}

.projects-grid {
    width: 100%;
    border-spacing: 21px;
    margin: 42px -21px;
}

.projects-grid td {
    border-spacing: 0;
}

.projects-grid td img {
    display: block;
}

.projects-grid td .wrap {
    position: relative;
    /* TODO: Stackoverflow */
    overflow: hidden;
    width: 360px;
    letter-spacing: 0.05em;
}

.projects-grid td .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.projects-grid td .description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20%;

    text-align: center;
    font-size: 20px;
    font-weight: 200;
    font-family: Calibri, sans-serif;

    color: #f5f4f1;
    background-color: rgba(0, 0, 0, 0.7);

    padding-top: 11px;
    padding-bottom: 7px;

    -webkit-transition: bottom 0.4s;
    -moz-transition: bottom 0.4s;
    -o-transition: bottom 0.4s;
    transition: bottom 0.4s;
}

.projects-grid td .wrap:hover .description {
    bottom: 0;
}

.projects-grid td .description b {
    font-size: 24px;
    font-family: Calibri, sans-serif;
    font-weight: bold;
}

body.project-description #projects-carousel .item {
    height: auto;
}

body.project-description #content #description {
    text-align: justify;

    /*background-color: #f5f5f5;*/
    margin-top: 44px;
    font-size: 18px;

    /*padding-top: 70px;*/
    /*padding-bottom: 112px;*/
    /*margin-top: 93px;*/
    /*margin-bottom: 96px;*/
}

body.project-description #content #description p + p,
body.project-description #content #description ul + p,
body.project-description #content #description ol + p {
    margin-top: 23px;
}

body.project-description #content #description p + ul,
body.project-description #content #description p + ol {
    margin-top: 11px;
}

body.project-description #content #description ul li {
    margin-left: 15px;
}

body.project-description #content #description ol li {
    margin-left: 21px;
}

body.project-description #description a,
.clients #platforms a,
#stages tr.clients-stages td.description a {
    text-decoration: none;
    color: #af5c5c;
    font-weight: bold;
    font-family: Calibri, sans-serif;
}

body.project-description #description a:hover {
    text-decoration: underline;
}

/* About */

#about-reasons {
    /*margin-top: 100px;*/
    margin-top: 70px;
    margin-bottom: 70px;
    letter-spacing: 0.005em;
}

#about-reasons table {
    border-spacing: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

#platforms table {
    border-spacing: 65px;
    margin-left: -65px;
    margin-right: -65px;
}

#about-reasons table td,
#platforms table td {
    vertical-align: top;
    font-size: 17px;
    color: #737271;
}

#about-reasons table td h1,
#platforms table td h1,
.blog .item h2,
.blog .item-page h2 {
    color: #af5c5c;
    font-family: TeX Gyre Adventor, Calibri, sans-serif;
    font-size: 34px;
    font-variant: normal;
    font-weight: normal;

    padding-top: 19px;
    padding-bottom: 3px;
    letter-spacing: 0.05em;
}

.blog .item-page h2 {
    padding-top: 0;
}

#about-reasons table td ul,
#platforms table td ul,
.clients #stages td ul {
    margin-left: 15px;
}

#confs h2, #smi h2 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-family: TeX Gyre Adventor, Calibri, sans-serif;
    letter-spacing: 0.05em;
    font-size: 19px;
    padding-bottom: 7px;
}

#smi {
    margin-bottom: 100px;
}

#smi .wrap {
    background-color: #f6f6f6;
}

#smi .item {
    width: 212px;
    height: 267px;

    margin: 0 auto;

    display: block;
    color: inherit;
    text-decoration: none;
}

#smi .item h3, #smi .item h4 {
    text-align: center;
    font-weight: normal;
}

#smi .item .name {
    height: 90px;
    position: relative;
    border-bottom: 3px solid #73BDAE;
    margin-bottom: 9px;
}

#smi .item h3 {
    font-family: TeX Gyre Adventor, Calibri, sans-serif;
    font-size: 14px;
    letter-spacing: 0.075em;
    color: #62B3A2;

    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

#smi .item h4 {
    font-family: Caviar Dreams, Calibri, sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
}

#smi .owl-carousel {
    width: 1036px;
    margin-left: auto;
    margin-right: auto;
}

#smi .owl-controls {
    margin: 0;
}

#smi .owl-controls .owl-buttons div {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;

    top: 118px;
    margin: 0;
    position: absolute;
}

#smi .owl-controls .owl-buttons .owl-prev {
    background-image: asset-url('about/smi-prev.png');
    left: -40px;
}

#smi .owl-controls .owl-buttons .owl-next {
    background-image: asset-url('about/smi-next.png');
    right: -40px;
}

#projects-carousel .owl-fade-out {
    z-index: -100;
    -webkit-animation: noAnimation 1.5s both ease;
    -moz-animation: noAnimation 1.5s both ease;
    -o-animation: noAnimation 1.5s both ease;
    animation: noAnimation 1.5s both ease;
}

#projects-carousel .owl-fade-in {
    z-index: 100;
    -webkit-animation: fadeIn 1.5s both ease;
    -moz-animation: fadeIn 1.5s both ease;
    -o-animation: fadeIn 1.5s both ease;
    animation: fadeIn 1.5s both ease;
}

@-webkit-keyframes noAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes noAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes noAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#content.clients {
    font-size: 20px;
    letter-spacing: 0.025em;
    text-align: justify;
}

#content.clients .column-main {
    padding-top: 50px;
}

#content.clients table#stages {
    margin-top: 20px;
    margin-bottom: 27px;
    border-spacing: 0 40px;
}

#stages tr.clients-stages td {
    vertical-align: top;
}

#stages tr.clients-stages td.title {
    color: #62B3A2;
    font-size: 36px;
    line-height: 32px;

    font-family: TeX Gyre Adventor, sans-serif;
    font-variant: normal;

    text-align: right;
    width: 265px;
}

#stages tr.clients-stages td.title.icon {
    text-align: center;
}

#stages tr.clients-stages td.title.icon img {
    margin-top: 23px;
}

#stages tr.clients-stages td.description {
    padding-left: 30px;
    padding-top: 6px;
}

.gray-bar {
    background-color: #f6f6f6;
}

#consultation, #stages tr.clients-stages td.description {
    font-size: 18px;
    line-height: 22px;
}

#consultation {
    padding-top: 57px;
    padding-bottom: 61px;
}

#consultation img {
    float: left;
    padding-right: 25px;
}

#consultation p + p,
#platforms p + p,
#stages tr.clients-stages td.description p + p {
    padding-top: 10px;
}

#platforms {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: left;
}

/* Blog */

.blog {
    padding-top: 112px;
}

.blog .item + .item {
    margin-top: 63px;
}

.blog .item .item-image {
    float: left;
    width: 210px;
    height: 210px;

    padding-right: 22px;
}

.blog .item .item-image img {
    width: inherit;
    height: inherit;
}

.blog .published {
    font-size: 18px;
    color: #cd9861;
    font-family: TeX Gyre Adventor, sans-serif;
    letter-spacing: 0.005em;
}

.blog .item {
    font-size: 18px;
    letter-spacing: 0.005em;
}

.blog .item h2,
.blog.item-page h2 {
    padding-top: 0;
    line-height: 44px;
    margin-top: -10px;
}

.blog .item .page-header {
    overflow: hidden;
}

.blog .item a,
.blog .item-page a {
    text-decoration: none;
    color: #af5c5c;
    font-size: 16px;
    letter-spacing: 0.025em;
}

.blog .item a:hover,
.blog .item-page a:hover {
    text-decoration: underline;
}

.blog .item .leading .right-column {
    height: 100%;
    position: relative;
}

.blog .item .leading {
    min-height: 210px;
    max-height: 210px;
    height: 210px;

    position: relative;
}

.blog .item .leading-content {
    position: absolute;
    bottom: -8px;
    right: 0;
    left: 0;
}

.blog .item .leading-content.have-intro-image {
    left: 232px; /* intro_img width + intro_img right padding */
}

.blog .item .introtext {
    line-height: 22px;
}

.blog .item .leading .article-info {
    padding-bottom: 4px;
}

.blog .item .leading .readmore {
    float: right;
}

.blog .item-page {
    margin-top: -15px;
    margin-bottom: 71px;
}

.blog .comments {
    background-color: #f1f1f1;

    margin-right: -500%;
    margin-left: -500%;
    padding-right: 500%;
    padding-left: 500%;
}

.blog .comments #disqus_thread {
    padding: 30px 77px 55px;
}

.blog .item-page .fulltext {
    margin-top: 20px;

    padding-top: 39px;

    line-height: 22px;
}

.blog .item-page .fulltext p > img {
    padding-top: 15px;
    padding-bottom: 21px;
}

.blog .item-page .fulltext ul.gallery {
    margin-top: -6px;
}

.blog .item-page .fulltext ul.gallery {
    list-style-type: none;
    padding-bottom: 8px;
    padding-top: 9px;
}

.blog .item-page .fulltext ul.gallery li {
    float: left;

    margin-left: 20px;
    margin-top: 12px;
}

.blog .item-page .fulltext ul.gallery li:nth-child(3n-2) {
    margin-left: 0;
}

.blog .item:last-child {
    margin-bottom: 150px;
}

.blog .pagination {
    margin-top: 62px;
    margin-bottom: 66px;
}

.blog .item-page + .pagination {
    margin-bottom: 88px;
}

.blog .pagination .pagination-list,
.view-project-description .pagination .pagination-list {
    list-style-type: none;
}

.blog .pagination .pagination-list a,
.view-project-description .pagination .pagination-list a {
    text-decoration: none;
    color: inherit;
}

.blog .pagination .pagination-list .prev:after,
.blog .pagination .pagination-list .next:before,
.view-project-description .pagination .pagination-list .prev:before,
.view-project-description .pagination .pagination-list .next:after {
    content: "";
    display: inline-block;
    height: 11px;
    width: 10px;
    margin-bottom: -1px;
}

.blog .pagination .pagination-list .prev:after,
.view-project-description .pagination .pagination-list .next:after{
    margin-left: 6px;
    background: asset-url('pagination-prev.png') no-repeat;
}

.blog .pagination .pagination-list .next:before,
.view-project-description .pagination .pagination-list .prev:before {
    margin-right: 7px;
    background: asset-url('pagination-next.png') no-repeat;
}

.blog .pagination .pagination-list .prev,
.view-project-description .pagination .pagination-list .next {
    float: right;
}

.blog .pagination .pagination-list .next,
.view-project-description .pagination .pagination-list .prev {
    float: left;
}

.blog .pagination .pagination-list .disabled,
.view-project-description .pagination .pagination-list .disabled {
    visibility: hidden;
}

.view-project-description .pagination {
    margin-top: 56px;
    margin-bottom: 61px;
}



/* En */

html[lang="en-gb"] {
    min-width: 0;
}

body.en-new {
    background: #00cab2 asset-url('sm-logo-main-new-en.png') no-repeat center;

    font-family: "Blogger Sans", sans-serif;

    min-width: 0;
}

body.en-new header {
    background: none;

    font-size: 19pt;
    padding-top: 28px;
}

body.en-new header nav {
    position: static;
    text-align: center;
}

body.en-new header .hor-menu li {
    color: #c0fff8;
    font-family: "Blogger Sans", sans-serif;
}

body.en-new header .hor-menu li + li {
    margin-left: 60px;
}

body.en-new header .hor-menu {
    display: inline-block;
}


/* New style */

.content-new {
    font-family: Neo Sans Pro, sans-serif;
    font-variant: normal;
}

.content-new .column-main {
    padding-left: 17px;
}

.school h1 {
    font-size: 36pt;
    line-height: 36pt;
    font-weight: 400;
    margin-top: 74px;
    text-align: center;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.school .intro {
    margin-top: 31px;
    margin-bottom: 59px;

    font-size: 18pt;
    text-align: center;
}

.school .intro p {
    margin-top: 10pt;

    font-family: Myriad Pro, sans-serif;
    font-weight: 300;
}

.school .intro p:first-child {
    margin-top: 0;
}

.school .step {
    display: flex;
    min-height: 66px;
    padding-bottom: 55px;
    overflow: hidden;
    padding-top: 10px;
    margin-top: -10px;
}

.school .step:last-child {
    margin-bottom: 0;
}

.school .step .step-icon {
    background: no-repeat center;
    background-size: 100%;
    flex-shrink: 0;
    position: relative;
    width: 66px;
    margin-right: 40px;
}

.school .step .step-connector, .school .step .step-connector-prev {
    height: 500px;
    position: absolute;
    z-index: -100;
    width: 4px;
    left: 31px;
}

.school .step .step-connector {
    top: 50%;
}

.school .step .step-connector-prev {
    bottom: 48%;
}

.school .step .step-icon.step-1 {
    background-image: asset-url('school/step-1.png');
}

.school .step .step-icon.step-2 {
    background-image: asset-url('school/step-2.png');
}

.school .step .step-icon.step-3 {
    background-image: asset-url('school/step-3.png');
}

.school .step .step-icon.step-final {
    width: 108px;
    height: 105px;
    background-image: asset-url('school/step-final.png');
    margin-right: 23px;
    background-size: 100%;
}

.school .step .step-icon.step-1 .step-connector,
.school .step .step-icon.step-2 .step-connector-prev {
    background: asset-url('school/step-1-connector.svg') repeat-y;
}

.school .step .step-icon.step-2 .step-connector,
.school .step .step-icon.step-3 .step-connector-prev {
    background: asset-url('school/step-2-connector.svg') repeat-y;
}

.school .step .step-icon.step-3 .step-connector {
    background: asset-url('school/step-3-connector.svg') repeat-y;
}

.school .step .step-icon.step-final .step-connector-prev {
    height: 122px;
    width: 40px;
    background: asset-url('school/step-final-connector-prev.svg') 0 -59px;
    background-size: auto;
    left: -27px;
}

.school .step:last-child {
    padding-left: 58px;
    margin-top: -4px;
    margin-bottom: 60px;
}

.school .step .step-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.school .step .step-description h2 {
    font-size: 22.5pt;
    line-height: 22.5pt;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
    margin-top: -6px;
}

.school .step .step-description p {
    font-size: 15pt;
    letter-spacing: 0.05em;
    color: #989ea8;
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: -12px;
}

.school-feedback {
    width: 100%;

    background-image: asset-url('school/bg-comments.png');

    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.23);
}

.school-feedback h2 {
    text-align: center;
    font-size: 27pt;
    line-height: 27pt;
    letter-spacing: 0.05em;
    font-weight: 400;
    padding-top: 41px;
}

.school-feedback-list {
    margin-top: 38px;
    padding-bottom: 63px;
}

.school-feedback-item {
    display: flex;
    margin-top: 25px;
}

.school-feedback-item:nth-child(even) {
    flex-direction: row-reverse;
}

.school-feedback-item:first-child {
    margin-top: 0;
}

.school-feedback-item .student-photo {
    flex-shrink: 0;

    margin-top: -9px;
}

.school-feedback-item:nth-child(odd) .student-photo {
    margin-left: -3px;
    margin-right: 25px;
}

.school-feedback-item:nth-child(even) .student-photo {
    margin-left: 25px;
    margin-right: -3px;
}

.school-feedback-item .student-photo img {
    border: 5px solid white;
    border-radius: 50%;

    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.26);

    width: 120px;
    height: 120px;
}

.student-feedback h3 {
    font-size: 18pt;
    line-height: 18pt;
    letter-spacing: 0.05em;
    font-weight: 400;
    margin-bottom: 9px;
    padding-top: 2px;
}

.school-feedback-item:nth-child(odd) .student-feedback h3 {
    padding-left: 22px;
}

.school-feedback-item:nth-child(even) .student-feedback h3 {
    padding-right: 22px;
    text-align: right;
}

.student-feedback .student-feedback-bubble {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    padding: 20px 24px 20px 24px;
    background-color: white;

    font-size: 15pt;
    letter-spacing: 0.05em;
    color: #989ea8;
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: relative;
}

.student-feedback .student-feedback-bubble p:first-child:before {
    content: "„";
    font-size: 55pt;
    line-height: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.005em;
    color: #536176;
    display: inline-block;
    position: relative;
    top: -5px;
    margin-right: -4px;
    left: -3px;
}

.school-feedback-item:nth-child(odd) .student-feedback .student-feedback-bubble {
    margin-right: 8px;
}

.school-feedback-item:nth-child(even) .student-feedback .student-feedback-bubble {
    margin-left: 8px;
}

.student-feedback .student-feedback-bubble:before {
    content:"";
    position: absolute;

    top: 22px;

    width: 0;
    height: 0;

    border-top: 8px solid white;
    border-right: 16px solid white;
    border-bottom: 8px solid white;

    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.18);
}

.school-feedback-item:nth-child(odd) .student-feedback .student-feedback-bubble:before {
    left: -8px;
    transform: rotate(-45deg);
}

.school-feedback-item:nth-child(even) .student-feedback .student-feedback-bubble:before {
    right: -8px;
    transform: rotate(135deg);
}

@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (min--moz-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) {
    .school .step .step-icon.step-1 {
        background-image: asset-url('school/step-1@2x.png');
    }

    .school .step .step-icon.step-2 {
        background-image: asset-url('school/step-2@2x.png');
    }

    .school .step .step-icon.step-3 {
        background-image: asset-url('school/step-3@2x.png');
    }

    .school-feedback {
        background-image: asset-url('school/bg-comments@2x.png');
    }

    .school .step .step-icon.step-final {
        background-image: asset-url('school/step-final@2x.png');
    }
}

@media
screen and (-webkit-min-device-pixel-ratio: 2.5),
screen and (min--moz-device-pixel-ratio: 2.5),
screen and (min-device-pixel-ratio: 2.5) {
    .school .step .step-icon.step-1 {
        background-image: asset-url('school/step-1@3x.png');
    }

    .school .step .step-icon.step-2 {
        background-image: asset-url('school/step-2@3x.png');
    }

    .school .step .step-icon.step-3 {
        background-image: asset-url('school/step-3@3x.png');
    }

    .school-feedback {
        background-image: asset-url('school/bg-comments@3x.png');
    }

    .school .step .step-icon.step-final {
        background-image: asset-url('school/step-final@3x.png');
    }
}

.nowrap {
    white-space: nowrap;
}
