@font-face {
    font-family: Blogger Sans;
    src: asset-url('blogger-sans/regular/blogger-sans.eot'); /* IE9 Compat Modes */
    src: asset-url('blogger-sans/regular/blogger-sans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    asset-url('blogger-sans/regular/blogger-sans.woff') format('woff'), /* Modern Browsers */
    asset-url('blogger-sans/regular/blogger-sans.ttf') format('truetype'), /* Safari, Android, iOS */
    asset-url('blogger-sans/regular/blogger-sans.svg#blogger-sans') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: Calibri;
    src: asset-url('calibri/light/calibri-light.eot?') format('eot'),
    asset-url('calibri/light/calibri-light.woff') format('woff'),
    asset-url('calibri/light/calibri-light.ttf') format('truetype'),
    asset-url('calibri/light/calibri-light.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Calibri;
    src: asset-url('calibri/regular/calibri.eot?') format('eot'),
    asset-url('calibri/regular/calibri.woff') format('woff'),
    asset-url('calibri/regular/calibri.ttf') format('truetype'),
    asset-url('calibri/regular/calibri.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Calibri;
    src: asset-url('calibri/bold/calibri-bold.eot?') format('eot'),
    asset-url('calibri/bold/calibri-bold.woff') format('woff'),
    asset-url('calibri/bold/calibri-bold.ttf') format('truetype'),
    asset-url('calibri/bold/calibri-bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Caviar Dreams;
    src: asset-url('caviar-dreams/regular/caviar-dreams.eot?') format('eot'),
    asset-url('caviar-dreams/regular/caviar-dreams.woff') format('woff'),
    asset-url('caviar-dreams/regular/caviar-dreams.ttf') format('truetype'),
    asset-url('caviar-dreams/regular/caviar-dreams.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Caviar Dreams;
    src: asset-url('caviar-dreams/bold/caviar-dreams-bold.eot?') format('eot'),
    asset-url('caviar-dreams/bold/caviar-dreams-bold.woff') format('woff'),
    asset-url('caviar-dreams/bold/caviar-dreams-bold.ttf') format('truetype'),
    asset-url('caviar-dreams/bold/caviar-dreams-bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: TeX Gyre Adventor;
    src: asset-url('tex-gyre-adventor/regular/tex-gyre-adventor.eot?') format('eot'),
    asset-url('tex-gyre-adventor/regular/tex-gyre-adventor.woff') format('woff'),
    asset-url('tex-gyre-adventor/regular/tex-gyre-adventor.ttf') format('truetype'),
    asset-url('tex-gyre-adventor/regular/tex-gyre-adventor.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: TeX Gyre Adventor;
    src: asset-url('tex-gyre-adventor/bold/tex-gyre-adventor-bold.eot?') format('eot'),
    asset-url('tex-gyre-adventor/bold/tex-gyre-adventor-bold.woff') format('woff'),
    asset-url('tex-gyre-adventor/bold/tex-gyre-adventor-bold.ttf') format('truetype'),
    asset-url('tex-gyre-adventor/bold/tex-gyre-adventor-bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Myriad Pro;
    src: asset-url('myriad-pro/regular-semicondensed/myriad-pro-regular-semicondensed.eot?') format('eot'),
    asset-url('myriad-pro/regular-semicondensed/myriad-pro-regular-semicondensed.woff') format('woff'),
    asset-url('myriad-pro/regular-semicondensed/myriad-pro-regular-semicondensed.ttf') format('truetype'),
    asset-url('myriad-pro/regular-semicondensed/myriad-pro-regular-semicondensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Myriad Pro;
    src: asset-url('myriad-pro/light/myriad-pro-light.eot?') format('eot'),
    asset-url('myriad-pro/light/myriad-pro-light.woff') format('woff'),
    asset-url('myriad-pro/light/myriad-pro-light.ttf') format('truetype'),
    asset-url('myriad-pro/light/myriad-pro-light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Neo Sans Pro;
    src: asset-url('neosans-pro/regular/neosans-pro.eot?') format('eot'),
    asset-url('neosans-pro/regular/neosans-pro.woff') format('woff'),
    asset-url('neosans-pro/regular/neosans-pro.ttf') format('truetype'),
    asset-url('neosans-pro/regular/neosans-pro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
