body.page-main header {
  background-color: white;
}

body.page-main #feedback {
  background-color: #efefef;
  font-family: Caviar Dreams, Calibri, sans-serif;
}

body.page-main #feedback form {
  text-align: center;
  padding-top: 46px;
  padding-bottom: 50px;
}

body.page-main #feedback form label {
  padding-bottom: 18px;
  display: block;
  font-size: 22px;
  letter-spacing: 0.1em;
}

body.page-main #feedback input {
  height: 30px;
  display: block;
  float: left;
}

body.page-main #feedback input + input {
  float: right;
}

body.page-main #feedback .inputs-wrapper {
  margin-left: 207px;
  margin-right: 208px;
}

body.page-main #feedback input[type="text"] {
  width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 23px;
  padding-bottom: 4px;
  height: 26px;
}
