.item.clearfix id="item-#{blog_entry.id}"
  .leading
    - if blog_entry.has_intro_image?
      .item-image
        img src="/#{blog_entry.intro_image_url}" itemprop="thumbnailUrl"

    .right-column
      a href="#{article_route(blog_entry)}"
        h2 itemprop="name" = blog_entry.title

      div class="leading-content clearfix #{blog_entry.has_intro_image? ? 'have-intro-image' : ''}"
        dl.article-info
          dd.published
            time datetime="#{article_created_at_iso8601(blog_entry)}" = article_created_at_blog_entry(blog_entry)

        .introtext = blog_entry.introtext.html_safe

        - if blog_entry.has_extended_content?
          p.readmore
            a href="#{article_route(blog_entry)}" class="article-link" Читать далее
