doctype html
html
  head
    = display_meta_tags

    = csrf_meta_tags
    = track_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body class="site page-#{params[:controller]}"
    #layout-wrapper
      header role="banner"
        .column-main
          a#company-logo href="#{main_page_path}" title="Studio Mobile"

          .mod-languages
            ul.lang-inline
              li = switch_language_link

          nav = render_navigation(:level => 1)

      #secondary-nav.column-main
        nav = render_navigation(:level => 2)

      #content-wrapper = yield

      footer
        .column-main
          | © 2008—
          => Date.today.year
          | Studio Mobile

          ul.social.hor-menu
            li
              a href="http://vk.com/studiomobile" target="_blank" Vkontakte

          .contacts
            | +7 (812) 449-41-38
            br
            a href="mailto:info@studiomobile.ru" info@studiomobile.ru
            br

    / Yandex.Metrika noscript counter
    noscript
      div
        img src="//mc.yandex.ru/watch/6418351" style="position:absolute; left:-9999px;" alt=""
    / /Yandex.Metrika noscript counter
